*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

.highlight{
    margin-top: 70px;
    display: flex;
}

.highlight-text{
    background: url(../images/blogpage.gif);
    max-height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 30px;
    text-align: center;
}

.highlight-text > h2{
    color: #3F7893;
    margin-top: 25px;
    font-size: 30px;
}

.highlight-text > p{
    font-size: 20px;
    color: #C53058;
}

.highlight-text > h2 > span{
    color: #C53058;
}

.highlight-text > p > span{
    color: #3F7893;
}

.hottest > .card-hottest{
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.hottest > .card-hottest > .card-header{
    background-color: #C53058;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    font-weight: 600;
}

.hottest > .card-hottest > .card-body{
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 0;
}

.card-hottest > .card-body{
    margin-top: 0;
    padding: 15px 15px;
    font-size: 16px;
}

.card-body > h5{
    font-size: 16px!important;
    font-weight: 600;
    margin: 10px;
}

.card-body > .highlight-btn {
    display: inline-block;
    color: #C53058;
    border: 2px solid#C53058;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    font-weight: bold;
    font-size: 12px;
    margin: 4px 10px 8px 10px!important;
}

.card-body > .highlight-btn:hover{
    color:#fff;
    background: #C53058;
    font-weight: bold;
}

.list-blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.list-blog .box{
    align-items: center;
    margin: auto;
    justify-self: center;
    width: 330px;
    height: 420px;
}

.list-blogs .box .icons{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.list-blog .box .content h3 {
    padding: 5px 0;
    font-size: 18px;
    color: var(--black);
}

.list-blog .box .content .title{
    height: 120px;
}

@media (max-width:991px){
    .highlight > .highlight-text{
        max-height: 430px;
        background-position: 50% 100%;
        padding-bottom: 400px;
    }
}

@media (max-width:768px){
    .blogs > .row{
        margin: 45px 0 25px 0!important;
    }

    .blogs h1{
        margin-top: 45px;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .highlight{
        display: flex;
        flex-direction: column;
    }

    .highlight > .highlight-text{
        max-height: 450px;
        background-position: 50% 100%;
        padding-bottom: 400px;
    }

    .hottest{
        padding: 0;
    }
}