*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#detail-blog > .blog{
    margin-top: 30px;
}

.blog-content > img{
    max-height: 300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50%;
}

.blog-content > h1{
    font-weight: bold;
    font-size: 36px;
    margin-top: 15px;
}

.blog-content .icons{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.blog-content .icons a{
    color:#777;
    font-size: 16px;
}

.blog-content .icons a i{
    padding-right: 7px;
}

.blog-content .icons a:hover{
    color:#C53058;
}
.blog-content > p{
    margin-top: 15px;
}

.blog-content > p > span{
    font-weight: bold;
    font-size: 16px;
    line-height: 2;
}

.recomendation-card{
    background-color: #f8f8fe;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    padding-bottom: 5px;
}

.recomendation-card > .card-header{
    background-color: #3F7893;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.recomendation-card > .card-body{
    padding: 0 15px;
}

.card-body > h5{
    font-size: 16px!important;
    font-weight: bold;
}

.card-body > .recommended-btn {
    display: inline-block;
    color: #3F7893;
    border: 2px solid#3F7893;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    font-weight: bold;
    font-size: 12px;
}

.card-body > .recommended-btn:hover{
    color:#fff;
    background: #3F7893;
    font-weight: bold;
}

.other-blogs{
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-top: 25px;
}

.other-blogs > .card-other > .card-header{
    background-color: #C53058;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.other-blogs > .card-other > .card-body{
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 0;
}

.card-other > .card-body{
    margin-top: 0;
    padding: 15px 15px;
    font-size: 16px;
}

#blog-comment{
    background-color: #fff;
}

#blog-comment > .row > .comment-area{
    background-color: #f8f8fe;
    padding: 20px 30px;
    border-radius: 5px;
}

#blog-comment > .row > .comment-area > .form-comment #text-area{
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

#blog-comment > .row > .comment-area > .form-comment label{
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 5px;
}

#blog-comment > .row > .comment-area > .form-comment > .comment-btn{
    display: inline-block;
    background: #C53058;
    color:#fff;
    border-radius: 50px;
    padding: 5px 25px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    font-weight: bold;
}

#blog-comment .row > .comment-area > .form-comment > .comment-btn:hover{
    color:#fff;
    background: #3F7893;
    font-weight: bold;
}