*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.btn {
    background: #C53058;
    color:#fff;
}

.btn:hover{
    color:#fff;
    background: #3F7893;
    font-weight: bold;
}

h4{
    color: #3f7893;
}

h4 span{
    color:#C53058;
}

.nav-item {
    font-size: 1.1rem;
}

/* CUSTOM MARGIN */
.mt-6 {
    margin-top: 3.5rem;
}

.mt-7 {
    margin-top: 4rem;
}

/* CUSTOM PADDING */
.py-6 {
    padding: 3.5rem 0
}

/* BORDER RADIUS */
.rounded-6 {
    border-radius: .6rem!important;
}